[user]
	name = Yadobler
	email = 49450747+yadobler@users.noreply.github.com
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "nvimdiff"]
	cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
