/*
 * vim:ft=less
 */
@import url('colors-waybar.css');
@define-color bg_base alpha (@background, 0.8);
@define-color hover_col mix (@color2, @color5, 0.2);

* {
    font-family: JetBrains Mono NFM;
    font-size: 14px;
    border-radius: 0px;
    margin: 0px;
    padding: 1px;
    color: @foreground;
    background-color: transparent;
}

window#waybar{
    border-radius: 0px;
}
.waybar-bottom {
    border-top: 1px solid @color14;
    background-color: @bg_base;
}
.waybar-top {
    border-bottom: 1px solid @color14;
    background-color: @bg_base;
}

tooltip {
    border: 1px solid @color2;
}

#workspaces button {
    margin: 0px 2px;
    padding: 2px;
    font-size: 15px;
    border-radius: 5;
}

#workspaces button:hover {
    border-color: @hover_col;
}

#workspaces button.active {
    border-color: @color2;
}

#workspaces button.special {
    border-color: @color4;
}

#workspaces button.urgent {
    border-color: @color1;
}


#backlight,
#battery,
#clock,
#custom-kb,
#custom-launch_app,
#custom-media,
#custom-kill,
#custom-notification,
#custom-powermenu,
#custom-sp,
#custom-weather,
#submap,
#window,
#workspaces,
#idle_inhibitor,
#network,
#pulseaudio,
#temperature,
#tray {
    padding: 0px 5px;
}

#submap.resize {
    color: @color1;
}

#battery.charging {
    color: @color2;
}
#battery.good:not(.charging) {
    color: @foreground;
}
#battery.warning:not(.charging) {
    color: @color1;
}
@keyframes blink {
    to {
        color: #AA2244;
    }
}

#battery.critical:not(.charging) {
    color: @foreground;
    background-color: @bg_base;
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    color: @color2;
}

#idle_inhibitor.actived {
    color: @color1;
}

#custom-kb,
#custom-launch_app,
#custom-kill,
#custom-notification,
#custom-powermenu,
#custom-sp {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

@import url('progressbar.css');
