@import url('.config/wofi/colors.css');

*{
    font-family: JetBrainsMono Nerd Font;
    font-size: 1.04em;
}

window{
    border-radius: 5px;
    border: 2px;
    border-color: @color7;
    color: @foreground;
    background-color: alpha (@background, 0.9);
}
#input {
    margin: 0px;
    margin-bottom: 10px;
    border: none;
    color: @foreground;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    padding: 5px;
}
#inner-box {
    margin: 5px;
    padding: 5px;
}

#text {
    color: @foreground;
    background-color: transparent;
}
#entry {
    margin: 10px;
    padding: 5px;
}
#entry:selected {
    background-color: @color3;
}
#text:selected {
    color: @color7
}

#scroll {
}

#img {
    background-color: transparent;
    border-radius: 10px;
    margin: 10px
}
