[Desktop Entry]
Version=1.0
Name=Brave
GenericName=Web Browser
StartupNotify=true
StartupWMClass=brave-browser
TryExec=brave
Exec=brave --gtk-version=4 --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Icon=brave-desktop
Type=Application
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
MimeType=x-scheme-handler/webcal;
