[Desktop Entry]
Name=Google Calendar
Exec=/usr/bin/brave --gtk-version=4 --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://calendar.google.com/calendar/u/1/r
Terminal=false
Type=Application
Icon=calendar
StartupWMClass=crx_gcal
Comment=Google Calendar
Categories=Network;Calendar;
