[Desktop Entry]
Name=Gmail (Main)
Exec=/bin/brave-browser-stable --ozone-platform=wayland --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://mail.google.com/mail/u/1
Terminal=false
Type=Application
Icon=gmail
StartupWMClass=crx_gmail_1
Comment=Gmail
Categories=Network;Email;
