[Desktop Entry]
Name=Gmail (Main)
Exec=bash -c '$HOME/.config/scripts/launch_one_instance.sh brave-mail.google.com__mail_u_1-Default "brave --gtk-version=4 --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://mail.google.com/mail/u/1"'
Terminal=false
Type=Application
Icon=gmail
StartupWMClass=crx_gmail_1
Comment=Gmail
Categories=Network;Email;
