[Desktop Entry]
Name=Gmail (NUS)
Exec=/usr/bin/brave --ozone-platform=wayland --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://mail.google.com/mail/u/2
Terminal=false
Type=Application
Icon=gmail
StartupWMClass=crx_gmail_nus
Comment=Gmail
Categories=Network;Email;
