[Desktop Entry]
Name=Gmail (Other)
Exec=/bin/brave-browser-stable --ozone-platform=wayland --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://mail.google.com/mail/u/0
Terminal=false
Type=Application
Icon=gmail
StartupWMClass=crx_gmail_0
Comment=Gmail
Categories=Network;Email;
