[Desktop Entry]
Name=Spotify (Web)
Exec=/usr/bin/brave --gtk-version=4 --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://open.spotify.com
Terminal=false
Type=Application
Icon=Spotify
StartupWMClass=crx_spotify
Comment=Spotify Web
Categories=Chat;Network;InstantMessaging;
X-Desktop-File-Install-Version=0.27
