[Desktop Entry]
Type=Application
Name=ncspot
Comment=A Spotify client for the terminal
Exec=kitty --class=ncspot zsh -c "[[ $(pgrep ncspot) ]] || ncspot"
Icon=spotify
Terminal=false
Categories=AudioVideo;Audio;Player;ConsoleOnly
Keywords=spotify;music;player
