[Desktop Entry]
Name=todo (TickTick)
Exec=bash -c '$HOME/.config/scripts/launch_one_instance.sh brave-ticktick.com__webapp_-Default "brave --gtk-version=4 --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://ticktick.com/webapp/"'
Terminal=false
Type=Application
Icon=ticktick
StartupWMClass=crx_ticktick_1
Comment=TickTick to-do
Categories=Network;todo;planner;
