[Desktop Entry]
Name=Whatsapp
Exec=bash -c '$HOME/.config/scripts/launch_one_instance.sh brave-web.whatsapp.com__-Default "brave --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --enable-features=WaylandWindowDecorations --profile-directory=Default --app=https://web.whatsapp.com"'
Terminal=false
Type=Application
Icon=whatsapp
StartupWMClass=crx_whatsapp
Comment=Whatsapp Web
Categories=Chat;Network;InstantMessaging;
X-Desktop-File-Install-Version=0.27
